
#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    z-index: 1101!important;
}

#nprogress .spinner {
    z-index: 1101!important;
}

.costumColor {
    /* background-color: #008ae6; */
    background-image: radial-gradient(80% 80% at 50% 50%, #050783FF 0%, #0095FFFF 100%);
    color: white;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0a309b;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
